@{
	ViewData["Title"] = "Page Not Found";
}

<link rel="stylesheet" href="~/css/Error/NotFoundError.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="page-not-found-card-containere">
	<p class="error-not-found-number">404</p>
	<p class="error-not-found">This page is not found</p>
	<a class="back-tohome-button-page-not-found" asp-controller="Event" asp-action="Index">
		<i class="fa-solid fa-arrow-left"></i>Back To Home
	</a>
</div>
