@{
	ViewData["Title"] = "Unauthorized User";
}

<link rel="stylesheet" href="~/css/Error/UnauthorizedError.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="unauthorized-user-card-containere">
	<p class="unauthorized-user-number">401/403</p>
	<p class="error-unauthorized-user">You are unauthorized user. Please log in.</p>
	<a class="back-to-home-button-unauthorized-user" asp-controller="Event" asp-action="Index">
		<i class="fa-solid fa-arrow-left"></i>Back To Home
	</a>
</div>